

{% extends 'base.html' %}
{% block content %}
{% load static %}

	<!-- Start Sidebar -->

    
    <!-- Start vendor movement Sec -->
            

        	<div class="vendor-movement-sec">
        		<div class="row vendor-main-r payout vendr-pay recent-order-sec">
        			<div class="col-md-6 col-12 col-lg-6">
        				<h2 class="mt-0">All Employee</h2>
                       
        			</div>
                    <div class="col-md-6 col-12 col-lg-6">
                        <form action="{% url 'employee_search' %}" method="get">
                            <input type="search" name="search" id="search" placeholder="Search........" required>
                        </form>
        			</div>
                    
        		</div>
                <div class="vendor-movement-tabs main-tabs">
                   
                            <div class="row tabs-main-rw">
                                    <div class="col-12 col-md-12 col-lg-12 main-content vendor-tabs">
                                        <div class="sort-btns">
                                            <div class="btn">   <a href="{% url 'employee_create' %}" class="btn btn1 add-new"><i class="fa-solid fa-plus"></i> ADD NEW</a></div>
                                        </div>
                                    <div class="vendor-tabs-contnt payout customers">
                                        <table class="w-100 mt-4 pt-5" id="myTable">
                                            <thead>
                                                <tr>
                                                    <th><p class="mb-0">Employee ID</p></th>
                                                    <th><p class="mb-0">Name</p></th>
                                                    <th><p class="mb-0">Salary</p></th>
                                                    <th><p class="mb-0">Joining Date</p></th>
                                                    <th><p class="mb-0">Delete</p></th>
                                                    <th><p class="mb-0">Edit</p></th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                            {% for employee in employee_list %}
                                            <tr>
                                               <td><p>{{employee.id}}</p></td>
                                               <td><p>{{employee.name}}</p></td>
                                               <td><p>{{employee.salary}}</p></td>
                                               <td><p>{{employee.joining_date | date:"M d, Y" }}</p></td>
                                             
                                             
                                                <td><p><a href="{% url 'employee_delete' employee.id %}">Delete</a>
                                                <td><p><a href="{% url 'employee_update' employee.id %}">Edit</a>
                                            </tr>
                                            {% endfor %}

                                           
                                            </tbody>
                                        </table>
                                    </div>
                                  
                                </div>
                            </div>

                    	</div>
                    </div>
        </div>

{% endblock %}
{% block js %}

<script>

    
    
</script>



{% endblock %}